body {
    margin: 0;
    min-height: 100vh;

    background-image: url("imagens/IMG-20260901-WA0009.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.logo {
    width: 400%;
    max-width: 400px;
    height: auto;
    top: 19px;
}
.pesquisar {
    position: relative ;
    width: 10%;
    height: 5vh;
    bottom: 350px;
    background-color: aqua;
    border: 2px solid rgb(16, 54, 59);
}

.barra {
    position: relative;
    bottom: 350px;
    width: 20%;
    height: 5vh;
    font-size: 20px;
    color: aqua;
    background-color: grey;
    border: 2px solid rgb(34, 33, 33)
}